@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #2e2c42;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 500px;
  background-color: #1a1c28;
  border-radius: 15px;
}
.content {
  width: 100%;
}
.title {
  font-size: 36;
  font-weight: 400;
  letter-spacing: 1px;
  color: #c7cad3;
  padding-left: 30px;
  padding-right: 30px;
}
.edit-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #1a1c28;
}
.subtitle {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16;
  color: #1a1c28;
  background-color: transparent;
}
.text-completed {
  padding-left: 30px;
  padding-right: 30px;
  color: #469de0;
  letter-spacing: 1px;
  text-align: end;
  margin-bottom: 40px;
}
.container > .content > .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container > .content > .list > .li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  box-sizing: border-box;
}

.container > .content > .list > .li input {
  width: 20px;
  height: 20px;
}

.container > .content > .list > .li label {
  padding: 0 40px;
  flex: 1;
  width: 80%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
}
.container > .content > .list > .li label span:first-child {
  color: #d7dae3;
}
.container > .content > .list > .li label span:last-child {
  color: #646770;
}
.container > .content > form > .button-input {
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  height: 50px;
  padding-top: 50px;
  margin-bottom: 30px;
}
.container > .content > form > .button-input > button {
  background-color: transparent;
  border: none;
}
.container > .content > form > .button-input > input {
  background-color: transparent;
  width: 100%;
  border: none;
  padding-left: 35px;
  color: #d7dae3;
}
